:root
{
  --heading-medium: 2.6rem;
  --heading-small: 1.8rem;
  --text-regular: 1.2rem;
  --text-small: 1rem;
  --font-color: white;
}

*
{
  font-family: "Adobe Ming Std L", serif;
  color: var(--font-color);
}

.content
{
  background: rgba(0,0,0,0.2);
  margin-top: 10rem;
  height: 40rem;
  width: 30rem;
  padding: 1rem 1rem 1rem 1rem;
  filter: brightness(100%);
}


#bg
{
  position: absolute;
  width: 100vw;
  height: 100vh;
}


body
{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html
{
  filter: brightness(50%);
  background-image: url('../img/360_F_214025959_WKHVofjNHTQPZM4SqcgLBULeC9igI18f.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 103vw;
  height: 101vh;
  position: fixed;
  top: -0.9%;
  left: -0.9%;
  z-index: -99;
}

h1
{
  text-align: center;
  font-size: var(--heading-medium);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgba(100, 68, 8, 0.50);
}

.shopping
{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 22%;
  top: 3%;

  & .shopping__add
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

li
{
  list-style: none;
  font-size: var(--text-regular);
  padding: 3px;
  margin-right: 50px;
}

ul
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 15px 2px 15px 10px;
  position: absolute;
  top: 30%;
  left: 62.5%;

}

button
{
  text-decoration: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(100, 68, 8, 0.30);
  margin: 3px 0 0 8px;
  padding: 3px 7px;
  font-size: var(--text-small);
}

li:hover button
{
  display: inline-block; /* Show the button when the li is hovered over */
}

li:hover
{
  text-decoration-style: dotted;
}

li > button
{
  display: none;
}

input
{
  background-color: rgba(100, 68, 8, 0.30);
  border: none;
  border-radius: 5px;
  font-size: var(--text-small);
  padding: 3px 10px 3px 0;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.list
{
  padding-top: 12rem;
}

#shopping-add
{
  padding: 1px 15px 1px 15px;
}

button:hover
{
  cursor: pointer;
}

.filtered
{
  display: none;
}

.highlighted
{
  -webkit-box-shadow: 8px 0 13px 7px #FF5020;
  box-shadow: 8px 0 13px 7px #FF5020;
}
