:root
{
  --heading-medium: 2.6rem;
  --heading-small: 1.8rem;
  --text-regular: 1.2rem;
  --text-small: 1.1rem;
  --text-xsmall: 0.95rem;
  --font-color: white;
}

*
{
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

.content
{
  background: rgba(0,0,0,0.4);
  margin-top: 10rem;
  height: 45rem;
  width: 35rem;
  padding: 0.5rem 1rem 1rem 1rem;
  filter: brightness(105%);
  border-radius: 10px;
}


#bg
{
  position: absolute;
  width: 100vw;
  height: 100vh;
}


body
{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html
{
  filter: brightness(60%);
  background-image: url('../img/360_F_214025959_WKHVofjNHTQPZM4SqcgLBULeC9igI18f_upscayl_4x_ultramix_balanced.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 103vw;
  height: 101vh;
  position: fixed;
  top: -0.9%;
  left: -0.9%;
  z-index: -99;
}

h1
{
  text-align: center;
  font-size: var(--heading-medium);
  text-decoration-color: rgb(255, 255, 255);
}

.shopping
{
  padding-top: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  left: 22%;
  top: 3%;

  & .shopping__add
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

li
{
  list-style: none;
  font-size: var(--text-regular);
  margin-right: 50px;
  padding: 3px 3px 12px;
}

ul
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 15px 2px 15px 10px;
  position: absolute;
  top: 3%;
  left: 10%;

}

button
{
  text-decoration: none;
  /*appearance: none; */
  border: none;
  border-radius: 5px;
  background-color: rgba(51, 31, 2, 0.45);
  margin: 3px 0 0 8px;
  padding: 4px 5px;
  font-size: var(--text-small);
}

li:hover button, li:hover input[type="checkbox"]
{
  display: inline-block;
}

li:hover
{
  text-decoration-style: dotted;
}


input
{
  background-color: rgba(100, 68, 8, 0.45);
  border: none;
  border-radius: 5px;
  font-size: var(--text-small);
  padding: 3px 10px 3px 0;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.list
{
  margin-top: 12rem;
}

#shopping-add
{
  padding: 1px 15px 1px 15px;
}

button:hover
{
  cursor: pointer;
}

.filtered
{
  display: none;
}

.shopping__filter {
  width: fit-content;
  margin-left: 130px;
  padding: 1px 41px 1px 5px;
  font-size: var(--text-xsmall);
}

#shopping-input{
  font-size: var(--text-small);
  padding-left: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  top: 90%;
  left: 20%;
}

input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
  accent-color: green;
}

mark {
  background-color: #ea9038;
  border-radius: 5px;
}
